* {
  font-family: "Raleway", sans-serif;
  text-transform: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logoHeader {
  display: flex;
  justify-self: start;
  width: 150px;
}

.headerNavLink {
  padding: 40px;
}

.fa-star {
  color: darkgray;
}

.fas[star-color="true"] {
  color: #0065fc;
}
